<form
  action=""
  class="bg-slate-700 p-4 rounded w-full"
  [formGroup]="loginForm"
  (ngSubmit)="ngLogin()"
>
  <div>
    <label class="block text-slate-50" for="email">Email</label>
    <input
      class="py-1 px-3 bg-slate-200 my-3 rounded w-full"
      formControlName="email"
      type="text"
      id="email"
    />
  </div>
  <div>
    <label class="block text-slate-50" for="password">Password</label>
    <input
      class="py-1 px-3 bg-slate-200 my-3 rounded w-full"
      type="text"
      formControlName="password"
      id="password"
    />
  </div>

  <div class="flex justify-center items-center">
    <button
      class="bg-slate-50 text-slate-700 px-3 py-1 rounded hover:opacity-60 transition-all"
      type="submit"
    >
      Connexion
    </button>
  </div>
</form>
